@model VkQ.WEB.ViewModels.Reports.LikeReportViewModel
@{
    ViewData["title"] = "Отчет";
}
<div class="table-responsive">
    <table class="table table-sm table-hover table-bordered table-striped table-condensed text-center align-middle">
        <tbody class="align-middle">
        <tr>
            <th scope="row">Дата создания</th>
            <td>@Model.CreationDate.ToOffset(TimeSpan.FromHours(3)).ToString("f")</td>
        </tr>
        @if (Model.IsStarted)
        {
            <tr>
                <th scope="row">Дата начала</th>
                <td>@Model.StartDate!.Value.ToOffset(TimeSpan.FromHours(3)).ToString("f")</td>
            </tr>
        }
        @if (Model.IsCompleted)
        {
            <tr>
                <th scope="row">Дата зваершения</th>
                <td>@Model.EndDate!.Value.ToOffset(TimeSpan.FromHours(3)).ToString("f")</td>
            </tr>
            @if (Model.IsSucceeded)
            {
                <tr>
                    <th scope="row">Успешно</th>
                    <td>Да</td>
                </tr>
            }
            else
            {
                <tr>
                    <th scope="row">Ошибка</th>
                    <td>@Model.Message</td>
                </tr>
            }
            <tr>
                <th scope="row">Кол-во публикаций</th>
                <td>@Model.Publications.Count</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="table-responsive">
<table class="table table-sm table-hover table-bordered table-striped table-condensed text-center align-middle">
<thead class="align-middle">
<tr>
    <th scope="col">№</th>
    <th scope="col">Участник</th>
    <th scope="col" rowspan="2">Публикации</th>
    <th scope="col">Дочерние аккаунты</th>
    <th scope="col">Проверка</th>
    <th scope="col">Заметка</th>
    <th scope="col">Чат активности</th>
    <th scope="col">VIP</th>

</tr>
@await Html.PartialAsync("SearchLikeElement")
</thead>
<tbody class="align-middle elements">
@for (int i = 0; i < Model.MediaReports.Count; i++)
{
    <tr>
        <th scope="row">@(i + 1)</th>
        <td class="child">
            <a asp-controller="Participants" asp-action="EditParticipant" asp-route-id="@Participant.Id">@Model.Username</a>
            @if (Model.MediaReports[i].UserPosts.Any())
            {
                <div>
                    <a class="text-decoration-none" data-bs-toggle="collapse" href="#userposts@(Model.MediaReports[i].Id)" role="button" aria-expanded="false">
                        Публикации с тегом (@Model.MediaReports[i].UserPosts.Count)
                    </a>
                </div>
                <div class="collapse" id="userposts@(Model.MediaReports[i].Id)">
                    <div class="card card-body bg-transparent border-0">
                        @foreach (var publication in Model.MediaReports[i].UserPosts)
                        {
                            <div class="border border-warning rounded rounded-3 px-1">
                                <a href="@publication.PublicationUrl" class="text-decoration-none text-center">
                                    <img src="@Url.Action("GetImage", "Reports", new { url = publication.ImageUrl }, Context.Request.Scheme)" alt="Фото" width="25px" height="25px"/>
                                    <span class="text-break">@TimeZoneInfo.ConvertTimeFromUtc(publication.CreationDate, timeZone).ToString("g", new CultureInfo("Ru"))</span>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            }
        </td>
        <td class="main">
            <div>
                <a class="text-decoration-none" data-bs-toggle="collapse" href="#values@(Model.MediaReports[i].Id)" role="button" aria-expanded="false">
                    <span>Пройдено: @Model.MediaReports[i].Values.Count(publication => publication.Value)<br>Не пройдено: @Model.MediaReports[i].Values.Count(publication => !publication.Value)</span>
                </a>
            </div>
            <div class="collapse" id="values@(Model.MediaReports[i].Id)">
                <div class="card card-body bg-transparent border-0">
                    @foreach (var publication in Model.MediaReports[i].Values)
                    {
                        <div class="border border-primary rounded rounded-3 px-1">
                            <a href="@publication.PublicationUrl" class="text-decoration-none">
                                <div>
                                    <img src="@Url.Action("GetImage", "Reports", new { url = publication.ImageUrl }, Context.Request.Scheme)" alt="Фото" width="25px" height="25px"/>
                                    @if (publication.Value)
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2 text-success" viewBox="0 0 16 16">
                                            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                        </svg>
                                    }
                                    else
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x text-danger" viewBox="0 0 16 16">
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                        </svg>
                                    }
                                </div>
                                <div>
                                    <div class="text-break">Опубликован: @TimeZoneInfo.ConvertTimeFromUtc(publication.CreationDate, timeZone).ToString("g", new CultureInfo("Ru"))</div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </td>

        <td class="main">
            @if (Model.MediaReports[i].ChildReports.Any())
            {
                <div class="table-responsive">
                    <table class="table table-sm table-hover table-bordered table-striped table-condensed text-center align-middle">
                        <thead class="align-middle">
                        <tr>
                            <th scope="col">Участник</th>
                            <th scope="col">Публикации</th>
                            <th scope="col">Проверка</th>
                            <th scope="col">Заметка</th>
                            <th scope="col">VIP</th>
                        </tr>
                        </thead>
                        <tbody class="align-middle">
                        @foreach (var childReport in Model.MediaReports[i].ChildReports)
                        {
                            <tr>
                                <td class="child">
                                    <a asp-controller="Participants" asp-action="Participant" asp-route-id="@childReport.Participant.Id">@childReport.Participant.Username</a>
                                    @if (childReport.UserPosts.Any())
                                    {
                                        <div>
                                            <a class="text-decoration-none" data-bs-toggle="collapse" href="#userposts@(childReport.Id)" role="button" aria-expanded="false">
                                                Публикации с тегом (@childReport.UserPosts.Count)
                                            </a>
                                        </div>
                                        <div class="collapse" id="userposts@(childReport.Id)">
                                            <div class="card card-body bg-transparent border-0">
                                                @foreach (var publication in childReport.UserPosts)
                                                {
                                                    <div class="border border-warning rounded rounded-3 px-1">
                                                        <a href="@publication.PublicationUrl" class="text-decoration-none text-center">
                                                            <img src="@Url.Action("GetImage", "Reports", new { url = publication.ImageUrl }, Context.Request.Scheme)" alt="Фото" width="25px" height="25px"/>
                                                            <span class="text-break">@TimeZoneInfo.ConvertTimeFromUtc(publication.CreationDate, timeZone).ToString("g", new CultureInfo("Ru"))</span>
                                                        </a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </td>
                                <td class="main">
                                    <div>
                                        <a class="text-decoration-none" data-bs-toggle="collapse" href="#values@(childReport.Id)" role="button" aria-expanded="false">
                                            <span>Пройдено: @childReport.Values.Count(publication => publication.Value)<br>Не пройдено: @childReport.Values.Count(publication => !publication.Value)</span>
                                        </a>
                                    </div>
                                    <div class="collapse" id="values@(childReport.Id)">
                                        <div class="card card-body bg-transparent border-0" style="font-size: 12px">
                                            @foreach (var publication in childReport.Values)
                                            {
                                                <div class="border border-primary rounded rounded-3 px-1">
                                                    <a href="@publication.PublicationUrl" class="text-decoration-none">
                                                        <div>
                                                            <img src="@Url.Action("GetImage", "Reports", new { url = publication.ImageUrl }, Context.Request.Scheme)" alt="Фото" width="25px" height="25px"/>
                                                            @if (publication.Value)
                                                            {
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2 text-success" viewBox="0 0 16 16">
                                                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                                                </svg>
                                                            }
                                                            else
                                                            {
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x text-danger" viewBox="0 0 16 16">
                                                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                                                </svg>
                                                            }
                                                        </div>
                                                        <div>
                                                            <div class="text-break">Опубликован: @TimeZoneInfo.ConvertTimeFromUtc(publication.CreationDate, timeZone).ToString("g", new CultureInfo("Ru"))</div>
                                                        </div>
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </td>
                                <td class="child">
                                    @if (childReport.Values.Any(publication => !publication.Value))
                                    {
                                        <span class="badge bg-danger">Нет</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-success">Да</span>
                                    }
                                </td>
                                <td class="child">
                                    <div class="text-break">@childReport.Participant.Note</div>
                                </td>
                                <td class="child">
                                    @if (childReport.Participant.Vip)
                                    {
                                        <span class="badge bg-success">Да</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger">Нет</span>
                                    }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            }
        </td>
        <td class="child">
            @if (Model.MediaReports[i].Values.Any(publication => !publication.Value))
            {
                <span class="badge bg-danger">Нет</span>
            }
            else
            {
                <span class="badge bg-success">Да</span>
            }
        </td>
        <td class="child">
            <div class="text-break">@Model.MediaReports[i].Participant.Note</div>
        </td>
        <td class="child">
            <span class="badge bg-success">@Model.MediaReports[i].Participant.Instagram.LikeChat</span>
        </td>
        <td class="child">
            @if (Model.MediaReports[i].Participant.Vip)
            {
                <span class="badge bg-success">Да</span>
            }
            else
            {
                <span class="badge bg-danger">Нет</span>
            }
        </td>
    </tr>
}
</tbody>
</table>
</div>

@section scripts {
    <script>
    let publications = [@Model.Publications]
    </script>
}