@using System.Globalization
@using WebApplication.Data.Enums.Reports
@using WebApplication.Data.Services
@model WebApplication.ViewModels.Reports.ParticipantReportViewModel
@inject TimeService _timeService
@{
    var timeZone = await _timeService.GetTimeZoneInfo(User);
    ViewData["title"] = $"Отчет №{Model.Report.Id}";
}
<div class="table-responsive">
    <table class="table table-sm table-hover table-bordered table-striped table-condensed text-center align-middle">
        <tbody class="align-middle">
        <tr>
            <th scope="row">Дата создания</th>
            <td>@TimeZoneInfo.ConvertTimeFromUtc(Model.Report.CreationDate, timeZone).ToString("f", new CultureInfo("Ru"))</td>
        </tr>
        @if (!string.IsNullOrEmpty(Model.Report.Message))
        {
            <tr>
                <th scope="row">Сообщение</th>
                <td>@Model.Report.Message</td>
            </tr>
        }
        <tr>
            <th scope="row">Покинуло</th>
            <td>@Model.ParticipantReports.Count(report => report.Participant == null)</td>
        </tr>
        <tr>
            <th scope="row">Вступили</th>
            <td>@Model.ParticipantReports.Count(report => report.Participant != null && report.Participant.Username == report.Username)</td>
        </tr>
        <tr>
            <th scope="row">Сменили ник</th>
            <td>@Model.ParticipantReports.Count(report => report.Participant != null && report.Participant.Username != report.Username)</td>
        </tr>
        </tbody>
    </table>
</div>
@if (Model.ParticipantReports.Any())
{
    <partial name="_GetUsernames"/>
}
@if (!Model.ParticipantReports.Any())
{
    <p>Записи не найдены.</p>
}
else
{
    <p>Всего @Model.ParticipantReports.Count запись.</p>
}

<div class="table-responsive">
    <table class="table table-sm table-hover table-bordered table-striped table-condensed text-center align-middle">
        <thead class="align-middle">
        <tr>
            <th scope="col" rowspan="2">
                <input type="checkbox" class="form-check-input" name="selection_all" value="1">
            </th>
            <th scope="col" rowspan="2">№</th>
            <th scope="col">Участник</th>
            <th scope="col">Статус</th>
        </tr>
        <tr>
            <form asp-action="ParticipantsReport" method="get" class="form-horizontal" id="filter">
                <th scope="col">
                    <input asp-for="Username" class="form-control auto-submit"/>
                </th>
                <th scope="col">
                    <select class="form-select auto-submit" asp-for="Status" asp-items="Html.GetEnumSelectList<ParticipantStatus>()"></select>
                </th>
            </form>
        </tr>
        </thead>
        <tbody class="align-middle">
        @for (int i = 0; i < Model.ParticipantReports.Count; i++)
        {
            <tr>
                <th>
                    <input type="checkbox" class="form-check-input" name="selection[]" value="@Model.ParticipantReports[i].Id" data-username="@Model.ParticipantReports[i].Username" data-chat="@(Model.ParticipantReports[i].Participant?.Instagram.LikeChat ?? String.Empty)">
                </th>
                <th scope="row">@(i + 1)</th>
                <td class="main">
                    @if (Model.ParticipantReports[i].Participant != null)
                    {
                        <a asp-controller="Participants" asp-action="Participant" asp-route-id="@Model.ParticipantReports[i].Participant.Id"> @Model.ParticipantReports[i].Username</a>
                    }
                    else
                    {
                        <span> @Model.ParticipantReports[i].Username</span>
                    }
                </td>
                <td class="child">
                    @if (Model.ParticipantReports[i].Participant == null)
                    {
                        <span class="badge bg-danger">Покинул чат</span>
                    }
                    else if (Model.ParticipantReports[i].Participant.Username == Model.ParticipantReports[i].Username)
                    {
                        <span class="badge bg-success">Добавлен в чат</span>
                    }
                    else
                    {
                        <span class="badge bg-primary">Сменил ник</span>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section scripts {
    <script src="~/js/autoSubmit.js"></script>
    <script src="~/js/getUsernames.js"></script>
}