@using VkQ.Domain.ReportLogs.Enums
@model IEnumerable<VkQ.WEB.ViewModels.Reports.ReportShortViewModel>
@{ var i = 0; }
@foreach (var report in Model)
{
    <tr>
        <th>
            <input type="checkbox" form="deleteSelected" class="form-check-input" name="ids" value="@report.Id">
        </th>
        <th scope="row">@(i++)</th>
        <td class="main">
            @switch (report.Type)
            {
                case ReportType.Likes:
                    <a asp-action="LikeReport" asp-route-id="@report.Id"></a>
                    break;
                case ReportType.Participants:
                    <a asp-action="ParticipantsReport" asp-route-id="@report.Id"></a>
                    break;
            }
        </td>
        <td class="main">
            @switch (report.Type)
            {
                case ReportType.Likes:
                    <span class="badge bg-danger">Лайки</span>
                    <span class="badge bg-danger">#@report.Hashtag</span>
                    break;
                case ReportType.Comments:
                    <span class="badge bg-success">Комментарии</span>
                    <span class="badge bg-success">#@report.Hashtag</span>
                    break;
                case ReportType.Participants:
                    <span class="badge bg-primary">Участники</span>
                    break;
            }
        </td>
        <td class="child">
            @if (report.IsCompleted)
            {
                if (report.IsSucceeded)
                {
                    <span class="badge bg-success">Успешно</span>
                }
                else
                {
                    <span class="badge bg-danger">Ошибка</span>
                }
            }
            else
            {
                <span class="badge bg-warning">В процессе</span>
            }
        </td>
        <td class="child">
            <a class="action" asp-controller="ReportsManager" asp-action="RestartReport" asp-route-id="@report.Id">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                    <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                    <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                </svg>
            </a>
            <a class="action" asp-controller="ReportsManager" asp-action="DeleteReport" asp-route-id="@report.Id">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
            </a>
        </td>
    </tr>
}