@using System.ComponentModel.DataAnnotations
@using System.Globalization
@using System.Reflection
@using WebApplication.Data.Services
@model WebApplication.ViewModels.Reports.ThieveOrTagInfoReportViewModel
@inject TimeService _timeService
@{
    var timeZone = await _timeService.GetTimeZoneInfo(User);
    ViewData["title"] = $"Отчет №{@Model.Report.Id}";
}

<div class="table-responsive">
    <table class="table table-sm table-hover table-bordered table-striped table-condensed text-center align-middle">
        <tbody class="align-middle">
        <tr>
            <th scope="row">Дата создания</th>
            <td>@TimeZoneInfo.ConvertTimeFromUtc(Model.Report.CreationDate, timeZone).ToString("f", new CultureInfo("Ru"))</td>
        </tr>
        <tr>
            <th scope="row">Тег</th>
            <td>#@Model.Report.Tag</td>
        </tr>
        <tr>
            <th scope="row">Публикации</th>
            <td>@((Model.Report.PublicationsType.GetType().GetMember(Model.Report.PublicationsType.ToString())[0].GetCustomAttribute(typeof(DisplayAttribute)) as DisplayAttribute)?.Name)</td>
        </tr>
        <tr>
            <th scope="row">Воров</th>
            <td>@Model.Reports.Count(report => report.Participant == null)</td>
        </tr>
        <tr>
            <th scope="row">Из дружественных чатов</th>
            <td>@Model.Reports.Count(report => report.Participant != null)</td>
        </tr>
        </tbody>
    </table>
</div>

@if (Model.Reports.Any())
{
    <partial name="_GetUsernames"/>
}

@if (!Model.Reports.Any())
{
    <p>Записи не найдены.</p>
}
else
{
    <p>Всего @Model.Reports.Count запись.</p>
}

<div class="table-responsive">
    <table class="table table-sm table-hover table-bordered table-striped table-condensed text-center align-middle">
        <thead class="align-middle">
        <tr>
            <th scope="col" rowspan="2">
                <input type="checkbox" class="form-check-input" name="selection_all" value="1">
            </th>
            <th scope="col" rowspan="2">№</th>
            <th scope="col">Аккаунт</th>
            <th scope="col" rowspan="2">Публикации</th>
            <th scope="col">Заметка</th>
            <th scope="col">Чат активности</th>
        </tr>
        <tr>
            <form asp-action="ThievesReport" method="get" class="form-horizontal" id="filter">
                <input type="hidden" asp-for="Id">
                <th scope="col">
                    <input asp-for="Username" class="form-control auto-submit"/>
                </th>
                <th scope="col">
                    <input asp-for="Note" class="form-control auto-submit"/>
                </th>
                <th scope="col">
                    <select class="form-select auto-submit" asp-for="LikeChat" asp-items="new List<SelectListItem>(Model.Report.Instagrams.Select(instagram => new SelectListItem(instagram.LikeChat, instagram.LikeChat)))">
                        <option selected="selected" value="">Все</option>
                        <option value="-">Воры</option>
                    </select>
                </th>
            </form>
        </tr>

        </thead>
        <tbody class="align-middle">
        @for (int i = 0; i < Model.Reports.Count; i++)
        {
            <tr>
                @if (Model.Reports[i].Participant != null)
                {
                    <th>
                        <input type="checkbox" class="form-check-input" name="selection[]" value="@Model.Reports[i].Id" data-username="@Model.Reports[i].Username" data-chat="@Model.Reports[i].Participant.Instagram.LikeChat">
                    </th>
                    <th scope="row">@(i + 1)</th>
                    <td class="main">
                        <a asp-controller="Participants" asp-action="Participant" asp-route-id="@Model.Reports[i].Participant.Id"> @Model.Reports[i].Username</a>
                    </td>
                }
                else
                {
                    <th>
                        <input type="checkbox" class="form-check-input" name="selection[]" value="@Model.Reports[i].Id" data-username="@Model.Reports[i].Username" data-chat="">
                    </th>
                    <th scope="row">@(i + 1)</th>
                    <td class="main">
                        <a href="https://www.instagram.com/@Model.Reports[i].Username">@Model.Reports[i].Username</a>
                    </td>
                }
                <td class="main" style="max-width: 200px; font-size: 12px">
                    <div>
                        <a class="text-decoration-none" data-bs-toggle="collapse" href="#userposts@(Model.Reports[i].Id)" role="button" aria-expanded="false">
                            Публикаций: @Model.Reports[i].UserPosts.Count
                        </a>
                    </div>
                    <div class="collapse" id="userposts@(Model.Reports[i].Id)">
                        <div class="card card-body bg-transparent border-0">
                            @foreach (var publication in Model.Reports[i].UserPosts)
                            {
                                <div class="border border-primary rounded rounded-3 px-1">
                                    <a href="@publication.PublicationUrl" class="text-decoration-none">
                                        <div>
                                            <img src="@Url.Action("GetImage", "Reports", new {url = publication.ImageUrl}, Context.Request.Scheme)" width="25px" height="25px" alt=""/>
                                        </div>
                                        <div>
                                            <div class="text-break">Опубликован: @TimeZoneInfo.ConvertTimeFromUtc(publication.CreationDate, timeZone).ToString("g", new CultureInfo("Ru"))</div>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </td>
                @if (Model.Reports[i].Participant != null)
                {
                    <td class="main" style="max-width: 170px">
                        <div class="text-break">@Model.Reports[i].Participant.Note</div>
                    </td>
                    <td class="child">
                        <span class="badge bg-success">@Model.Reports[i].Participant.Instagram.LikeChat</span>
                    </td>
                }
                else
                {
                    <td></td>
                    <td class="child">
                        <span class="badge bg-danger">Вор</span>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>

@section scripts {
    <script src="~/js/autoSubmit.js"></script>
    <script src="~/js/getUsernames.js"></script>
}