@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApplication.ViewModels.Proxy.AddProxyViewModel
@{
    ViewData["Title"] = "Прокси";
}
<div class="accordion accordion-flush pb-3" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button shadow-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Загрузить прокси
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <form asp-action="Index" method="post" class="form-horizontal">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label asp-for="ProxyList"></label>
                                <textarea asp-for="ProxyList" class="form-control"></textarea>
                                <span asp-validation-for="ProxyList" class="text-danger"></span>
                                <p class="hint-block">Формат: host:port:login:password:country</p>
                            </div>
                            <div class="col-12">
                                <input class="btn shadow-none btn-outline-dark" type="submit" value="Добавить">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-sm table-hover table-bordered table-striped table-condensed text-center align-middle">
        <thead class="align-middle">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Адресс</th>
            <th scope="col">Порт</th>
            <th scope="col">Логин</th>
            <th scope="col">Пароль</th>
            <th scope="col">Страна</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody class="align-middle">
        @for (int i = 0; i < Model.Proxies.Count; i++)
        {
            <tr>
                <th scope="row">@(i + 1)</th>
                <td> @Model.Proxies[i].Host</td>
                <td>@Model.Proxies[i].Port</td>
                <td>@Model.Proxies[i].Login</td>
                <td>@Model.Proxies[i].Password</td>
                <td>@Model.Proxies[i].Country</td>
                <td>
                    <a class="action" asp-action="DeleteProxy" asp-route-id="@Model.Proxies[i].Id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>