@model IEnumerable<VkQ.WEB.ViewModels.Elements.LikeElementViewModel>
@{ var i = 0; }
@foreach (var element in Model)
{
    <tr>
        <th scope="row">@(i++)</th>
        <td class="child">
            <a asp-controller="Participants" asp-action="EditParticipant" asp-route-id="@element.ParticipantId">@element.Name</a>
            @* @if (Model.MediaReports[i].UserPosts.Any()) *@
            @* { *@
            @*     <div> *@
            @*         <a class="text-decoration-none" data-bs-toggle="collapse" href="#userposts@(Model.MediaReports[i].Id)" role="button" aria-expanded="false"> *@
            @*             Публикации с тегом (@Model.MediaReports[i].UserPosts.Count) *@
            @*         </a> *@
            @*     </div> *@
            @*     <div class="collapse" id="userposts@(Model.MediaReports[i].Id)"> *@
            @*         <div class="card card-body bg-transparent border-0"> *@
            @*             @foreach (var publication in Model.MediaReports[i].UserPosts) *@
            @*             { *@
            @*                 <div class="border border-warning rounded rounded-3 px-1"> *@
            @*                     <a href="@publication.PublicationUrl" class="text-decoration-none text-center"> *@
            @*                         <img src="@Url.Action("GetImage", "Reports", new { url = publication.ImageUrl }, Context.Request.Scheme)" alt="Фото" width="25px" height="25px"/> *@
            @*                         <span class="text-break">@TimeZoneInfo.ConvertTimeFromUtc(publication.CreationDate, timeZone).ToString("g", new CultureInfo("Ru"))</span> *@
            @*                     </a> *@
            @*                 </div> *@
            @*             } *@
            @*         </div> *@
            @*     </div> *@
            @* } *@
        </td>
        <td class="main">
            <div>
                <a class="text-decoration-none" data-bs-toggle="collapse" href="#values@(element.ParticipantId)" role="button" aria-expanded="false">
                    @{
                        var liked = element.Likes.Count(like => like.IsLiked);
                        var notLiked = element.Likes.Count - liked;
                    }
                    <span>Пройдено: @liked<br>Не пройдено: @notLiked</span>
                </a>
            </div>
            <div class="collapse" id="values@(element.ParticipantId)">
                <div class="card card-body bg-transparent border-0">
                    @foreach (var like in element.Likes)
                    {
                        <div class="border border-primary rounded rounded-3 px-1">
                            <div>
                                @* <img src="@Url.Action("GetImage", "Reports", new { url = publication.ImageUrl }, Context.Request.Scheme)" alt="Фото" width="25px" height="25px"/> *@
                                @if (like.IsLiked)
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2 text-success" viewBox="0 0 16 16">
                                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                    </svg>
                                }
                                else
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x text-danger" viewBox="0 0 16 16">
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </td>

        <td class="main">
            @if (element.Children.Any())
            {
                <div class="table-responsive">
                    <table class="table table-sm table-hover table-bordered table-striped table-condensed text-center align-middle">
                        <thead class="align-middle">
                        <tr>
                            <th scope="col">Участник</th>
                            <th scope="col">Публикации</th>
                            <th scope="col">Проверка</th>
                            <th scope="col">Заметка</th>
                            <th scope="col">VIP</th>
                        </tr>
                        </thead>
                        <tbody class="align-middle">
                        @foreach (var childElement in element.Children)
                        {
                            <tr>
                                <td class="child">
                                    <a asp-controller="Participants" asp-action="EditParticipant" asp-route-id="@childElement.ParticipantId">@childElement.Name</a>
                                    @* @if (childReport.UserPosts.Any()) *@
                                    @* { *@
                                    @*     <div> *@
                                    @*         <a class="text-decoration-none" data-bs-toggle="collapse" href="#userposts@(childReport.Id)" role="button" aria-expanded="false"> *@
                                    @*             Публикации с тегом (@childReport.UserPosts.Count) *@
                                    @*         </a> *@
                                    @*     </div> *@
                                    @*     <div class="collapse" id="userposts@(childReport.Id)"> *@
                                    @*         <div class="card card-body bg-transparent border-0"> *@
                                    @*             @foreach (var publication in childReport.UserPosts) *@
                                    @*             { *@
                                    @*                 <div class="border border-warning rounded rounded-3 px-1"> *@
                                    @*                     <a href="@publication.PublicationUrl" class="text-decoration-none text-center"> *@
                                    @*                         <img src="@Url.Action("GetImage", "Reports", new { url = publication.ImageUrl }, Context.Request.Scheme)" alt="Фото" width="25px" height="25px"/> *@
                                    @*                         <span class="text-break">@TimeZoneInfo.ConvertTimeFromUtc(publication.CreationDate, timeZone).ToString("g", new CultureInfo("Ru"))</span> *@
                                    @*                     </a> *@
                                    @*                 </div> *@
                                    @*             } *@
                                    @*         </div> *@
                                    @*     </div> *@
                                    @* } *@
                                </td>
                                <td class="main">
                                    <div>
                                        <a class="text-decoration-none" data-bs-toggle="collapse" href="#values@(childElement.ParticipantId)" role="button" aria-expanded="false">
                                            @{
                                                liked = childElement.Likes.Count(like => like.IsLiked);
                                                notLiked = childElement.Likes.Count - liked;
                                            }
                                            <span>Пройдено: @liked<br>Не пройдено: @notLiked</span>
                                        </a>
                                    </div>
                                    <div class="collapse" id="values@(childElement.ParticipantId)">
                                        <div class="card card-body bg-transparent border-0" style="font-size: 12px">
                                            @foreach (var like in childElement.Likes)
                                            {
                                                <div class="border border-primary rounded rounded-3 px-1">
                                                    <div>
                                                        @* <img src="@Url.Action("GetImage", "Reports", new { url = publication.ImageUrl }, Context.Request.Scheme)" alt="Фото" width="25px" height="25px"/> *@
                                                        @if (like.IsLiked)
                                                        {
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2 text-success" viewBox="0 0 16 16">
                                                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                                            </svg>
                                                        }
                                                        else
                                                        {
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x text-danger" viewBox="0 0 16 16">
                                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                                            </svg>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </td>
                                <td class="child">
                                    @if (childElement.IsAccepted)
                                    {
                                        <span class="badge bg-danger">Нет</span>
                                        <span class="badge bg-success">Да</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger">Нет</span>
                                    }
                                </td>
                                <td class="child">
                                    @* <div class="text-break">@childElement.Note</div> *@
                                </td>
                                <td class="child">
                                    @if (childElement.Vip)
                                    {
                                        <span class="badge bg-success">Да</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger">Нет</span>
                                    }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            }
        </td>
        <td class="child">
            @if (element.IsAccepted)
            {
                <span class="badge bg-success">Да</span>
            }
            else
            {
                <span class="badge bg-danger">Нет</span>
            }
        </td>
        <td class="child">
            @* <div class="text-break">@Model.MediaReports[i].Participant.Note</div> *@
        </td>
        <td class="child">
            <span class="badge bg-success">@element.LikeChatName</span>
        </td>
        <td class="child">
            @if (element.Vip)
            {
                <span class="badge bg-success">Да</span>
            }
            else
            {
                <span class="badge bg-danger">Нет</span>
            }
        </td>
    </tr>
}