@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WebApplication.Data.Enums.Participants
@model WebApplication.ViewModels.Participants.ParticipantsViewModel

@{
    ViewData["title"] = "Участники";
}
<div class="row">
    <div class="col-6">
        @if (Model.Count != 0)
        {
            int count = (Model.Page - 1) * 30;
            int limit = count + 30;
            <p>Показаны @(count + 1) - @(limit > Model.Count ? Model.Count : limit) из @Model.Count записей.</p>
        }
        else
        {
            <p>Записи не найдены.</p>
        }
    </div>
    <div class="col-6 text-end">
        <a asp-action="ParticipantsFromNicks" asp-route-id="@Model.Id">Фильтр участников</a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-sm table-hover table-bordered table-striped table-condensed text-center align-middle">
        <thead class="align-middle">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Логин</th>
            <th scope="col">Привязанные аккаунты</th>
            <th scope="col">Заметка</th>
            <th scope="col">VIP</th>
        </tr>
        <tr>
            <form asp-action="MyParticipants" method="get" class="form-horizontal" id="filter">
                <input type="hidden" asp-for="Id">
                <th scope="col">
                </th>
                <th scope="col">
                    <input asp-for="Username" class="form-control auto-submit"/>
                </th>
                <th scope="col">
                    <select class="form-select auto-submit" asp-for="HasChild" asp-items="Html.GetEnumSelectList<ParticipantHasChild>()"></select>
                </th>
                <th scope="col">
                    <input asp-for="Note" class="form-control auto-submit"/>
                </th>
                <th scope="col">
                    <select class="form-select auto-submit" asp-for="Vip">
                        <option selected="selected" value="false">Все</option>
                        <option value="true">VIP</option>
                    </select>
                </th>
            </form>
        </tr>
        </thead>
        <tbody class="align-middle">
        @for (int i = 0; i < Model.Participants.Count; i++)
        {
            var participant = Model.Participants[i];
            <tr>
                <th scope="row">@(i + 1)</th>
                <td class="child">
                    <a asp-action="Participant" asp-route-id="@participant.Id">@participant.Username</a>
                </td>

                <td class="main" style="max-width: 300px">
                    @if (participant.ChildParticipants.Any())
                    {
                        <div class="table-responsive article1">
                            <table class="table table-sm table-hover table-bordered table-striped table-condensed text-center align-middle">
                                <thead class="align-middle">
                                <tr>
                                    <th scope="col">Логин</th>
                                    <th scope="col">Заметка</th>
                                    <th scope="col">VIP</th>
                                </tr>
                                </thead>
                                <tbody class="align-middle">
                                @foreach (var childParticipant in participant.ChildParticipants)
                                {
                                    <tr>
                                        <td class="child">
                                            <a asp-action="Participant" asp-route-id="@childParticipant.Id">@childParticipant.Username</a>
                                        </td>
                                        <td class="main" style="max-width: 170px">
                                            <div class="text-break">@childParticipant.Note</div>
                                        </td>
                                        <td>
                                            @if (childParticipant.Vip)
                                            {
                                                <span class="badge bg-success">Да</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-danger">Нет</span>
                                            }
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    }
                </td>
                <td class="main" style="max-width: 170px">
                    <div class="text-break">@participant.Note</div>
                </td>
                <td class="child">
                    @if (participant.Vip)
                    {
                        <span class="badge bg-success">Да</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Нет</span>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<nav>
    <ul class="pagination">
        @if (Model.Page != 1)
        {
            if (Model.Page > 2)
            {
                <li class="page-item">
                    <input type="submit" class="page-link shadow-none" autocomplete="off" asp-for="Page" value="1" form="filter">
                </li>
            }
            <li class="page-item">
                <input type="submit" class="d-none" id="btnPrevious" autocomplete="off" asp-for="Page" value="@(Model.Page - 1)" form="filter">
                <label for="btnPrevious" class="page-link" style="cursor: pointer">
                    <span aria-hidden="true">&laquo;</span>
                </label>
            </li>
            <li class="page-item">
                <input type="submit" class="page-link shadow-none" autocomplete="off" asp-for="Page" value="@(Model.Page - 1)" form="filter">
            </li>
        }
        <li class="page-item active">
            <input type="submit" class="page-link shadow-none" autocomplete="off" asp-for="Page" value="@Model.Page" form="filter" disabled>
        </li>
        @if (Model.Page * 30 < Model.Count)
        {
            <li class="page-item">
                <input type="submit" class="page-link shadow-none" autocomplete="off" asp-for="Page" value="@(Model.Page + 1)" form="filter">
            </li>
            <li class="page-item">
                <input type="submit" class="d-none" autocomplete="off" asp-for="Page" id="btnNext" value="@(Model.Page + 1)" form="filter">
                <label for="btnNext" class="page-link" style="cursor: pointer">
                    <span aria-hidden="true">&raquo;</span>
                </label>
            </li>
        }
    </ul>
</nav>

@section scripts {
    <script src="~/js/autoSubmit.js"></script>
}