@using Soofle.Domain.Participants.Enums
@model IEnumerable<Soofle.WEB.ViewModels.Participants.ParticipantViewModel>
@foreach (var participant in Model)
{
    <tr class="element">
        <td class="child">
            <a asp-action="Edit" asp-route-id="@participant.Id">@participant.Name</a>
            <a href="https://vk.com/@participant.Name">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="16px" height="16px">
                    <path fill="#1976d2" d="M24,4C13,4,4,13,4,24s9,20,20,20s20-9,20-20S35,4,24,4z"/><path fill="#fff" d="M25.2,33.2c-9,0-14.1-6.1-14.3-16.4h4.5c0.1,7.5,3.5,10.7,6.1,11.3V16.8h4.2v6.5c2.6-0.3,5.3-3.2,6.2-6.5h4.2	c-0.7,4-3.7,7-5.8,8.2c2.1,1,5.5,3.6,6.7,8.2h-4.7c-1-3.1-3.5-5.5-6.8-5.9v5.9H25.2z"/>
                </svg>
            </a>
        </td>
        <td class="child">
            @switch (participant.Type)
            {
                case ParticipantType.Group:
                    <span class="badge bg-info">Группа</span>
                    break;
                case ParticipantType.User:
                    <span class="badge bg-success">Пользователь</span>
                    break;
            }
        </td>
        <td class="main">
            @if (participant.Children.Any())
            {
                <div class="table-responsive">
                    <table class="table table-sm table-hover table-bordered table-striped table-condensed text-center align-middle">
                        <thead class="align-middle">
                        <tr>
                            <th scope="col">Участник</th>
                            <th scope="col">Тип</th>
                            <th scope="col">Заметка</th>
                            <th scope="col">VIP</th>
                        </tr>
                        </thead>
                        <tbody class="align-middle">
                        @foreach (var childParticipant in participant.Children)
                        {
                            <tr id="@childParticipant.Id">
                                <td class="child">
                                    <a asp-action="Edit" asp-route-id="@childParticipant.Id">@childParticipant.Name</a>
                                </td>
                                <td class="child">
                                    @switch (childParticipant.Type)
                                    {
                                        case ParticipantType.Group:
                                            <span class="badge bg-info">Группа</span>
                                            break;
                                        case ParticipantType.User:
                                            <span class="badge bg-success">Пользователь</span>
                                            break;
                                    }
                                </td>
                                <td class="main" style="max-width: 170px">
                                    <div class="text-break">@childParticipant.Note</div>
                                </td>
                                <td class="child">
                                    @if (childParticipant.Vip)
                                    {
                                        <span class="badge bg-success">Да</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger">Нет</span>
                                    }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            }
        </td>
        <td class="main">
            <div class="text-break">@participant.Note</div>
        </td>
        <td class="child">
            @if (participant.Vip)
            {
                <span class="badge bg-success">Да</span>
            }
            else
            {
                <span class="badge bg-danger">Нет</span>
            }
        </td>
    </tr>
}