@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WebApplication.Models
@model WebApplication.ViewModels.Settings.CommunicationsViewModel
@{
    ViewData["Title"] = "Связи";
}
<div>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link disabled" asp-action="Communications">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-angle-contract" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M.172 15.828a.5.5 0 0 0 .707 0l4.096-4.096V14.5a.5.5 0 1 0 1 0v-3.975a.5.5 0 0 0-.5-.5H1.5a.5.5 0 0 0 0 1h2.768L.172 15.121a.5.5 0 0 0 0 .707zM15.828.172a.5.5 0 0 0-.707 0l-4.096 4.096V1.5a.5.5 0 1 0-1 0v3.975a.5.5 0 0 0 .5.5H14.5a.5.5 0 0 0 0-1h-2.768L15.828.879a.5.5 0 0 0 0-.707z"/>
                </svg>
                Связи
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="ChangeEmail">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                </svg>
                Изменить почту
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="ChangePassword">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                </svg>
                Изменить пароль
            </a>
        </li>
        <li class="nav-item">
                    <a class="nav-link" asp-action="ChangeTimeZone">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                        </svg>
                        Изменить часовой пояс
                    </a>
                </li>
    </ul>
</div>

<a class="btn shadow-none btn-outline-dark mb-3" asp-action="CreateCommunication">Создать связь</a>
<div class="table-responsive">
    <table class="table table-sm table-hover table-bordered table-striped table-condensed text-center align-middle">
        <thead class="align-middle">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Отправитель</th>
            <th scope="col">Получатель</th>
            <th scope="col">Дружественные чаты активности</th>
            <th scope="col">Статус приглашения</th>
            <th scope="col">Просмотр воров</th>
            <th scope="col">Совместные проверки</th>
            <th scope="col">Ссылка</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody class="align-middle">
        @{
            for (int i = 0; i < Model.Links.Count; i++)
            {
                <tr>
                    <th scope="row">@(i + 1)</th>
                    <td>@Model.Links[i].Sender.UserName</td>
                    @if (Model.Links[i].Recipient != null)
                    {
                        <td>@Model.Links[i].Recipient.UserName</td>
                        <td>
                            @if (Model.Links[i].Sender == Model.CurrentUser)
                            {
                                <ul class="list-group list-group-flush">
                                    @foreach (Instagram inst in Model.Links[i].Recipient.Instagrams)
                                    {
                                        <li class="list-group-item">@inst.LikeChat</li>
                                    }
                                </ul>
                            }
                            else if (Model.Links[i].Recipient == Model.CurrentUser)
                            {
                                <ul class="list-group list-group-flush">
                                    @foreach (Instagram inst in Model.Links[i].Sender.Instagrams)
                                    {
                                        <li class="list-group-item bg-transparent border-0">@inst.LikeChat</li>
                                    }
                                </ul>
                            }
                        </td>
                        <td>
                            <span class="text-success">Активна</span>
                        </td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                        <td>
                            <span class="text-warning">В ожидании</span>
                        </td>
                    }
                    <td>
                        @if (Model.Links[i].CommonThieves)
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2 text-success" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                            </svg>
                        }
                        else
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x text-danger" viewBox="0 0 16 16">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        }
                    </td>
                    <td>
                        @if (Model.Links[i].CommonReports)
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2 text-success" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                            </svg>
                        }
                        else
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x text-danger" viewBox="0 0 16 16">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        }
                    </td>
                    <td style="width: 130px">
                        @if (Model.Links[i].Recipient == null)
                        {
                            <input type="hidden" value="@Url.Action("Communication", "Settings", new {id = Model.Links[i].Id.ToString()}, Context.Request.Scheme)" id="@($"link{i}")">
                            <a class="action" onclick="copy(@i, this)" href="#" onmouseout="mouseout(this)">
                                Скопировать
                            </a>
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                    <td>
                        <a class="action" asp-action="DeleteCommunication" asp-route-id="@Model.Links[i].Id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </a>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>

@section scripts {
    <script src="~/js/copy.js"></script>
}